* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.2;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 161, 86);
  z-index: 2;
}

.header__body {
  display: flex;
  position: relative;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  background-color: sandybrown;
}

.header__logo {
  margin: 20px;
  flex: 0 0 150px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  margin-right: 20px;
  position: relative;
  z-index: 5;
}
.header__list li {
  list-style: none;
  margin-left: 20px;
}

.header__link {
  padding: 10px 6px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  height: 100%;
  font-weight: 500;
  padding-top: 80px;
}

@media (min-width: 320px) and (max-width: 812px) {
  body.lock {
    overflow: hidden;
  }

  .main {
    display: flex;
    padding-top: 59px;
  }

  .header__body {
    height: 60px;
  }
  .header__logo {
    flex: 0 0 120px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 3;
    margin-right: 15px;
  }

  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 4px;
    top: 18px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 6px;
  }
  .header__burger:after {
    bottom: 6px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 18px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 18px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: turquoise;
    padding-top: 75px;

    overflow: auto;
    transition: all 0.4s ease-in-out 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  .header__link {
    padding: 10px 0px;
  }
}
/* END @media 320 */

.content {
  order: 2;
}

.main__content {
  flex-grow: 1;
  margin-bottom: 20px;
  font-weight: bold;
}

.main__content p:nth-of-type(1) {
  font-weight: lighter;
  margin: 20px;
}

.main__content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__item {
  display: block;
  height: 350px;
  width: 31%;
  min-width: 250px;

  position: relative;
  border: 2px solid gray;
  margin: 10px 0;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  transition: all 0.4s ease;
}

.cards__item:hover {
  background-color: rgb(197, 172, 221);
}

.cards__img {
  border: 10px solid rgb(197, 172, 221);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  max-width: 100px;
  min-height: 100px;
}

.cards__item:hover .cards__img {
  border-radius: 25%;
  transform: scale(1.2);
}

.cards__logo {
  margin: 10px 0;
  font-size: large;
}

.cards__text {
  max-height: 145px;
  overflow: auto;
  font-weight: lighter;
}

.cards__btn {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);

  padding: 6px 16px;
  border: none;
  border-radius: 15px;
  color: white;
  outline: none;
  background-color: rgb(205, 108, 243);
}

.cards__btn:hover {
  background-color: rgb(178, 44, 231);
}

.holder {
  display: flex;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 150px;

  border: 4px solid black;
  border-radius: 20px 20px 0 0;

  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  height: 75px;
  padding: 30px;
}

.holder .item:nth-of-type(1) {
  background-color: rgb(255, 53, 17);
  order: 1;

  flex-basis: 50%;
}

.holder .item:nth-of-type(2) {
  background-color: chartreuse;
  order: 4;
  flex: 1 1 33%;
}

.holder .item:nth-of-type(3) {
  background-color: rgb(248, 136, 96);
  order: 3;
  flex: 1 1 33%;
}

.holder .item:nth-of-type(4) {
  background-color: rgb(26, 130, 250);
  order: 5;
  flex: 1 1 33%;
}

.holder .item:nth-of-type(5) {
  background-color: olive;
  order: 2;
  flex: 1 1 50%;
}

.aside {
  max-width: 210px;
  width: 100%;
  padding-top: 10px;
}

.aside1 {
  order: 1;
  background-color: rgb(219, 139, 243);
}

.aside2 {
  order: 3;
  background-color: rgb(125, 160, 236);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  padding: 15px;
  flex-shrink: 0;
}

@media all and (min-width: 320px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    order: 1;
  }

  .cards__item {
    min-width: 70%;
    max-width: 310px;
  }

  .aside {
    min-width: 100%;
    min-height: 200px;
  }

  .aside1 {
    order: 2;
  }

  .aside2 {
    order: 3;
  }
}
/* END @media min-320px */

@media all and (min-width: 767px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    order: 1;
  }

  .cards__item {
    min-width: 45%;
    max-width: 300px;
  }

  .aside {
    min-width: 100%;
    min-height: 310px;
  }

  .aside1 {
    order: 2;
  }

  .aside2 {
    order: 3;
  }
}
/* END @media min-767px */

@media all and (min-width: 1199px) {
  .main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .cards__item {
    min-width: 32.333%;
    max-width: 300px;
  }

  .aside {
    /* min-width: 100%; */
    min-width: 210px;
  }

  .content {
    order: 2;
  }

  .aside1 {
    order: 1;
  }

  .aside2 {
    order: 3;
  }
}
