* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.2;
  background-color: white;
  color: black;
}

.container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: sandybrown;
}

.header-wrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  height: 80px;
  /* background-color: sandybrown; */
}

.logo {
  margin: 20px;
  flex: 0 0 150px;
}

.logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

@media all and (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 20px;
    background-color: #fff;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
}

.nav_menu {
  display: flex;
  margin-right: 20px;
}

.nav_menu li {
  list-style: none;
}

.nav_menu li:hover {
  transform: scale(1.5);
}

a {
  padding: 10px 6px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.main {
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  height: 100%;
  font-weight: 500;
}

.content {
  order: 2;
}

.main__content {
  flex-grow: 1;
  margin-bottom: 20px;
  font-weight: bold;
}

.main__content p:nth-of-type(1) {
  font-weight: lighter;
  margin: 20px;
}

.main__content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__item {
  display: block;
  height: 350px;
  width: 31%;
  min-width: 250px;

  position: relative;
  border: 2px solid gray;
  margin: 10px 0;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  transition: all 0.4s ease;
}

.cards__item:hover {
  background-color: rgb(197, 172, 221);
}

.cards__img {
  border: 10px solid rgb(197, 172, 221);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.cards__item:hover .cards__img {
  border-radius: 25%;
  transform: scale(1.2);
}

.cards__logo {
  margin: 10px 0;
  font-size: large;
}

.cards__text {
  max-height: 115px;
  overflow: auto;
  font-weight: lighter;
}

.cards__btn {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);

  padding: 6px 16px;
  border: none;
  border-radius: 15px;
  color: white;
  outline: none;
  background-color: rgb(205, 108, 243);
}

.cards__btn:hover {
  background-color: rgb(178, 44, 231);
}

.holder {
  display: flex;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 150px;

  border: 4px solid black;
  border-radius: 20px 20px 0 0;

  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  height: 75px;
  padding: 30px;
}

.holder .item:nth-of-type(1) {
  background-color: rgb(255, 53, 17);
  order: 1;

  flex-basis: 50%;
}

.holder .item:nth-of-type(2) {
  background-color: chartreuse;
  order: 4;
  flex: 1 1 33%;
}

.holder .item:nth-of-type(3) {
  background-color: rgb(248, 136, 96);
  order: 3;
  flex: 1 1 33%;
}

.holder .item:nth-of-type(4) {
  background-color: rgb(26, 130, 250);
  order: 5;
  flex: 1 1 33%;
}

.holder .item:nth-of-type(5) {
  background-color: olive;
  order: 2;
  flex: 1 1 50%;
}

.aside {
  max-width: 210px;
  width: 100%;
  /* height: 100%; */
  padding-top: 10px;
}

.aside1 {
  order: 1;
  background-color: rgb(219, 139, 243);
}

.aside2 {
  order: 3;
  background-color: rgb(125, 160, 236);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  padding: 15px;
  flex-shrink: 0;
}

/* mob first responsive */

/* @media all and (min-width: 320px) {
  .main {
    
    flex-direction: column;
  }

  .content {
    order: 1;
  }

  .aside {
    min-width: 100%;
    min-height: 100px;
  }

  .aside1 {
    order: 2;
  }

  .aside2 {
    order: 3;
  }
} */
