* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.2;
  background-color: white;
  color: black;
}

.logo {
  margin: 20px;
}

.logo img {
  width: 150px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: sandybrown;
}

.nav_menu {
  margin-right: 20px;
}

.nav_menu li {
  display: inline-block;
}

.nav_menu li:hover {
  transform: scale(1.5);
}

a {
  padding: 10px 6px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  height: 100%;
  font-weight: 500;
}

.content {
  order: 2;
}

.content-top p:nth-of-type(1) {
  margin: 20px;
}

.content-top p:nth-of-type(2) {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 20px;
}

.aside {
  max-width: 210px;
  width: 100%;
  padding-top: 10px;
}

.aside1 {
  order: 1;
  background-color: rgb(219, 139, 243);
}

.aside2 {
  order: 3;
  background-color: rgb(125, 160, 236);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  padding: 15px;
}
